html,
body {
    margin: 0;
    padding: 0;
}

.barra-de-topo {
    background-color: #ff6b2b;
    padding: 15px;
    text-align: center;
}

#cabecalho{
    background-image: url(./imagens/1434078000000-Bolo-de-Fuba.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
}